body
{
background: url('');
background-size:1400px;
}
h1
{
text-align:center;
}
.radio
{
margin-left:280px;
margin-right:auto;
position:relative;
height:640px;
height:640px;
width:770px;
}
div.topnav
{
margin-top:10px;
width:1350px;
height:70px;
}
div.topnav > a
{font-family:"Trebuchet MS", Helvetica, sans-serif;
top:0px;
position:relative;
margin-left:1100px;
color:#DCDCDC;
text-decoration:none;
font-weight:bold;
font-size:25px;
}
div.topnav > a:hover
{
color:grey;
}
.tab
{
margin-top:100px;
margin-left:250px;
text-align:center;
}
.tab > td
{
width:100;
height:100;
}