<?xml version="1.0"?>
<root>
<mpd_host>localhost</mpd_host><mpd_port>6600</mpd_port><mpd_pass></mpd_pass><login_pass></login_pass><update_delay>1</update_delay><metadata_disable></metadata_disable><theme>default</theme><stop_button></stop_button><shout_url>http://127.0.0.1:8000/mpd</shout_url><pagination>0</pagination><lang>en</lang><plentry><Title>yes</Title><Album>yes</Album><Artist>yes</Artist><Track></Track><Name></Name><Genre></Genre><Date></Date><Composer></Composer><Performer></Performer><Comment></Comment><Disc></Disc></plentry></root>
